body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Libre Baskerville';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p {
  font-size: 24px;
}

.g-card {
  margin: 20px;
}

.g-card-image {
  border-radius: 10px;
  width: 300px;
  height: 480px;
  object-fit: cover;
  box-shadow: 0px 0px 3px 1px #ccc;
}

.g-card-info {
  margin-top: 10px;
  min-height: 250px;
}

.g-card-title {
  font-size: 30px;
  margin: 0px;
  color: white
}

.g-card-sub-title {
  font-size: 16px;
  margin: 0px;
}

.card-link {
  text-decoration: none;
  color: rgb(199, 0, 0);
  transition: color 0.5s ease;
}

.card-link:hover {
  text-decoration: none;
  color: rgba(199, 0, 0, 0.3);
}

.github-link {
  color: rgb(199, 0, 0);
  transition: color 0.5s ease;
}

.github-link:hover {
  color: rgba(199, 0, 0, 0.3);
}

.linkdin-link {
  color: rgb(158, 158, 158);
  transition: color 0.5s ease
}

.linkdin-link:hover {
  color: rgba(158, 158, 158, 0.3)
}

.google-link {
  color: rgb(74, 74, 74);
  transition: color 0.5s ease;
}

.google-link:hover {
  color: rgba(74, 74, 74, 0.3)
}

.link-container {
  padding-top: 5rem;
}

@media screen and (min-width:1501px) {
  #title {
    font-size: 5rem;
  }
  #sub-title {
    font-size: 2.7rem;
  }
}

@media screen and (max-width:1500px) {
  #title {
    font-size: 3.3rem;
  }
  #sub-title {
    font-size: 2.1rem;
  }
}

@media screen and (max-width:1024px) {
  #title {
    font-size: 2.3rem;
  }
  #sub-title {
    font-size: 1.5rem;
  }
  #text {
    font-size: 1rem;
  }
}

/* @media screen and (max-width:768px) {
  #text {
    font-size: 0.9rem;
  }
} */

@media screen and (max-width:425px) {
  #title {
    font-size: 2rem;
  }
  #sub-title {
    font-size: 1.3rem;
  }
}

@media screen and (max-width:375px) {
  #title {
    font-size: 1.8rem;
  }
  #sub-title {
    font-size: 1.1rem;
  }
  #text {
    font-size: 0.8rem;
  }
}

@media screen and (max-width:320px) {
  #title {
    font-size: 1.5rem;
  }
  #sub-title {
    font-size: 1rem;
  }
  #text {
    font-size: 0.75rem;
  }
}